*{
    /* margin: 0px;
    padding: 0px; */
    margin-left: 20px;
    font-family: "Gill Sans Extrabold", sans-serif;
}
body{
    background-color: antiquewhite;
    
}
input,select{
    padding: 8px;
    border : 1px solid rgb(160, 157, 157);
    border-radius: 5px;
    width: 200px;
    /* text-align: center; */
}
label{
    display: block;
    /* margin: 10px ; */
}
button{
    padding: 7px 10px;
    background-color: dodgerblue;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}
button:hover{
    /* opacity: 0.8; */
    outline:1px solid white;
}
p{
    font-size: 17px;
    font-weight: 600;
}